<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 >添加角色</h2>
<hr/>
<form id="addroleff" method="post">
角色名称>:<input style="width: 260px;height: 30px;border-color: #CCE6FF;background-color: #D4D4D4;" name="rolename">
<input style="height: 20px;width: 2000px;background-color: #bababa;" value="分配权限>>>"/>
<div style="background-color: #D4D4D4;height: 60px;border-bottom: solid;border-bottom-width: 1px;border-bottom-color: skyblue" th:each="action:${actions}">
    <p style="font-size: 15px;" th:text="${action}"></p>
    <div th:each="menu:${menuAuths}">
    <div style="float: left;margin-left: 20px" th:if="${menu.action}==${action}"><input name="menuid" type="checkbox"  th:value="${menu.id}"/><span th:text="${menu.name}"></span></div>
    </div>
</div>
</form>
    <button style="height: 30px;width: 50px;align-content: center;background-color: darkolivegreen;" onclick="saveAddRole()">保存</button>
</div>
<script>
    function saveAddRole() {
        $('#addroleff').form({
            url:"/valid/dealaddRole",
            type:"POST",
            success:function(data){
                $("#tabls").tabs("close","添加角色");
                $("#rolelistdg").datagrid('reload');
                $(".tree-title:contains('角色管理')").parent().click();//层次选择器
            }
        });
        $('#addroleff').submit();
    }
</script>
