<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/js/themes/icon.css">
    <link rel="stylesheet" href="/js/themes/default/easyui.css">
</head>

<body class="easyui-layout">
<div data-options="region:'north'," style="height:80px;"></div>
<div data-options="region:'center',title:''" style="padding:5px;background:#eee;">
    <div align="center" style="weight:250px;height: 250px"><br/><br/><br/>
    <input class="easyui-textbox" data-options="iconCls:'icon-man'" style="width:200px;height: 40px"><br/><br/><br/>
    <input class="easyui-textbox" data-options="iconCls:'icon-lock'" style="width:200px;height: 40px"><br/><br/><br/>
        <button type="button"  style="width:80px;height: 40px">登录</button>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
<script>



</script>
</body>

</html>