<style>
    .file-box{
        display: inline-block;
        position: relative;
        padding: 3px 5px;
        overflow: hidden;
        color:#fff;
        background-color: #ccc;
    }
    .file-btn{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        outline: none;
        background-color: transparent;
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
</style>
<div xmlns:th="http://www.w3.org/1999/xhtml">
    <form id="ff_addBrand" method="post">
    <div>
        <input name="id" type="hidden" th:value="${id}">
        <input name="name" type="text" th:value="${name}" />
    </div>
    <div>
        <div style="padding-top: 15px">
            品牌logo:<button type="button"  class="file-box"><input name="image" type="file" class="file-btn" th:value="${logoUrl}" onchange="xmTanUploadImg(this)"/>上传文件</button><br/>
            <div align="center">    <img id="image" src="#"  th:src="'/upload/'+${logoUrl}"  style="width: 130px; height: 130px"/></div>
        </div>
    </div>
    </form>
    <div style="position: relative;top: 10px;  "  align="center" >
        <button type="reset" onclick="quxiao()" >取消</button>
        <button type="button" onclick="tijao()">提交</button>
    </div>
</div>
<script>
    function quxiao(){
        $('#ff_addBrand').form('clear');
    }
    function tijao() {
        var formData = new FormData($('#ff_addBrand')[0]);
        $.ajax({
            url: "/valid/updateBrandreslt",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: formData,    //参数值
            type: "POST",   //请求方式
            processData: false,  //tell jQuery not to process the data
            contentType: false,  //tell jQuery not to set contentType
            success: function (data) {
                if (data == '1') {
                    alert("成功");
                    $("#dg_bm").dialog("close");
                    $('#dg_bm').datagrid('reload');
                } else {
                    alert("失败");
                }
            }
        })

    }


    function xmTanUploadImg(obj) {
        var  file= obj.files[0];
        var reader = new FileReader();
        reader.onloadstart;
        reader.onload=function (ev) {
            var img = document.getElementById("image");
            img.src=ev.target.result;
            console.log(img.src);
        }
        reader.readAsDataURL(file);
    }
</script>